<h1>タスク一覧</h1>
<h3>検索</h3>

<p><%= notice %></p>


<%= form_with(scope: :search, method: :get, local: true) do |form| %>

 <div class="form-group">
   <%= form.label :title, "タスク名" %>
   <%= form.text_field :title %>
   <%= form.label :stetus, "ステータス" %>
   <%= form.select :status, options_for_select(Task.statuses), include_blank: true %>
   <%= form.label :label_name, "ラベル" %>
   <%= form.select( :label_id, Label.pluck(:label_name, :id), { include_blank: true  }) %>
   <%= form.submit '検索', class: "search-btn" %>
 </div>

<% end %>

<%= link_to '新しくタスクを投稿する', new_task_path %>

<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ユーザー名</th>
        <th scope="col">タスク名</th>
        <th scope="col">内容</th>
        <th scope="col"><%= link_to "終了期限", sort_limit: true, class: "search-btn"%></th>
        <th scope="col">ステータス</th>
        <th scope="col"><%= link_to "優先度", sort_priority: true, class: "search-btn"%></th>
        <th scope="col">ラベル</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
  <% @tasks.each do |task| %>
    <tbody>
      <tr class = "task_row">
        <th scope="row"></th>
        <td><%= task.user.name %></td>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.limit %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td>
          <% task.labels.each do |label| %>
            <%= label.label_name %>
          <% end %>
        </td>

        <td><%= link_to '詳細', task_path(task.id) %></td>
        <td><%= link_to '編集', edit_task_path(task.id) %></td>
        <td><%= link_to '削除', task_path(task.id), method: :delete,data: { confirm: '本当に削除していいですか？' } %></td>
      </tr>
    </tbody>
  <% end %>
</table>

<%= paginate @tasks %>